//https://coolors.co/264653-2a9d8f-e9c46a-f4a261-e76f51
// https://coolors.co/11151c-212d40-364156-7d4e57-d66853
// COLORS
// Green
// $primary-color: #02aab0;
// $secondary-color: #00cdac;
// Purple
// $primary-color: #7f449d;
// $secondary-color: #793fc1;
// $primary-color: #e76f51;
// $secondary-color: #f4a261;
// Blues
$primary-color: #1d3557;
$secondary-color: #457b9d;

$section-angle: 10%;
$section-angle-op: 90%;

$white-color: #fff;
$light-grey: #d3d3d3;
$dark-grey: #333333;
$dark-blue-text: #272341; // For Headings

// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;
