.accordion-section {
  display: flex;
  flex-direction: column;
  outline: none !important;
}

.accordion-title-abt {
  background-color: black;
  color: white;
  cursor: pointer;
  display: flex;
  clear: both;
  border-color: #202020;
  border-width: 0px;
  outline: none !important;
  font-size: calc((10px + 2vmin + 0.75vmax) / 1.3);
  padding: calc(5px + 1vmin);
  transition: background-color 0.5s ease;
}

.accordion-title-abt:hover,
.active {
  background-color: #dab53d;
}

.accordion-title-exp {
  background-color: black;
  color: white;
  cursor: pointer;
  display: flex;
  border-color: #202020;
  border-width: 0px;
  outline: none !important;
  font-size: calc((10px + 2vmin + 0.75vmax) / 1.3);
  padding: calc(5px + 1vmin);
  transition: background-color 0.5s ease;
}

.accordion-title-exp:hover,
.active {
  background-color: #da9e3d;
}

.accordion-title-proj {
  background-color: black;
  color: white;
  cursor: pointer;
  display: flex;
  border-color: #202020;
  border-width: 0px;
  outline: none !important;
  font-size: calc((10px + 2vmin + 0.75vmax) / 1.3);
  padding: calc(5px + 1vmin);
  transition: background-color 0.5s ease;
}

.accordion-title-proj:hover,
.active {
  background-color: #ee9a14;
}

.accordion-title-fun {
  background-color: black;
  color: white;
  cursor: pointer;
  display: flex;
  border-color: #202020;
  border-width: 0px;
  outline: none !important;
  font-size: calc((10px + 2vmin + 0.75vmax) / 1.3);
  padding: calc(5px + 1vmin);
  transition: background-color 0.5s ease;
}

.accordion-title-fun:hover,
.active {
  background-color: #c5760e;
}

.accordion-icon {
  margin-left: auto;
  transition: transform 0.5s ease;
}

.rotate {
  transform: rotate(90deg);
}

.accordion-content {
  background-color: #1b3752;
  overflow: hidden;
  transition: max-height 0.5s ease;
}

.accordion-text {
  font-weight: 400;
  font-size: calc((10px + 1.23vmin + 0.42vmax) / 1.4);
  padding: 18px;
  background-color: #202020;
}

.titleText {
  font-weight: 800;
}
