.App {
  /* font-family: "Raleway", sans-serif; */
  font-family: "Nunito Sans", sans-serif;
  color: white;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.App-header {
  width: 100%;
  margin: 0;
  left: 0;
  position: relative;
}

.top-image {
  width: 100%;
  z-index: -1;
}

.toptop {
  max-height: 80vh;
}

.TopLine {
  width: 100%;
  margin: 0;
  left: 0;
  top: 0;
  padding: calc(5px + 0.5vmin);
  overflow: hidden;
  background-color: black;
  font-weight: bold;
  position: relative;
  font-size: calc((10px + 1.23vmin + 0.42vmax) / 1.4);
}

.TopBanner {
  position: relative;
}

.react-rotating-text-cursor {
  animation: blinking-cursor 0.8s cubic-bezier(0.68, 0.01, 0.01, 0.99) 0s
    infinite;
}

@keyframes blinking-cursor {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.icon-top {
  padding-right: 7px;
  padding-left: 7px;
  height: calc((10px + 2vmin + 1vmax) / 1.5);
}
.footer {
  text-align: center;
  background-color: black;
  width: 100%;
  font-size: calc((10px + 1.23vmin + 0.42vmax) / 1.4);
  padding: calc((10px + 2vmin + 1vmax) / 1.1);
}
a {
  color: #c5760e !important;
}
