.card-img-top {
	height: 13rem;
}
.card-deck {
	padding-top: 2vh;
	padding-bottom: 2vh;
}
.card-container {
	padding-left: calc(5vh + 2vw);
	padding-right: calc(5vh + 2vw);
	padding-top: 2vh;
	padding-bottom: 2vh;
}
