#what {
  background-color: $white-color;
  color: $dark-blue-text;
  margin-top: -5rem;
  padding-top: 12rem;
  margin-bottom: -12rem;
  padding-bottom: 8rem;

  @include respond(tab-land) {
    margin-top: 0;
    padding-top: 5rem;
  }

  .what-wrapper {
    margin-bottom: 15rem;

    @include respond(phone) {
      margin-bottom: 0rem;
    }

    .row {
      margin-bottom: 8rem;

      @include respond(phone) {
        margin-bottom: 4rem;
      }
    }

    .col {
      text-align: center !important;
    }

    .li {
      margin: calc(-1rem);
      list-style-type: none;
    }

    &__text {
      text-align: center;

      @include respond(phone) {
        margin-bottom: 2.5rem !important;
      }
      @include respond(tab-land) {
        margin-bottom: 4.8rem;
      }

      &-title {
        margin-bottom: 1.8rem;
        font-weight: bold;
        font-size: calc($mid-font-size - 0.15rem);

        @include respond(phone) {
          font-size: 2rem;
        }
      }

      & p > a {
        color: $secondary-color;
      }
    }
  }
}
